[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
behave = "*"
mock = "==3.0.5"


[requires]
python_version = "3.7"

[dev-packages]
v = {editable = true,version = "*"}
